<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="refresh" content="10" >
		<title>Newspeak Board</title>

		<link rel="stylesheet" href="/static/css/reveal.css">
		<link rel="stylesheet" href="/static/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/static/lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">



			<section class="center">
						<h2>Newspeak House</h2>
						<p>This screen has experienced an error and will restart shortly.</p>

	
				</section>

				
			

			</div>
		</div>

		
		<div class="share-reveal" style="position: absolute; bottom: 16px; left: 90%; margin-left: -139px; z-index: 20;">
			<h2 style="color:white;text-align:right">#nwspk</h2>
		</div>
		<script src="/static/lib/js/head.min.js"></script>
		<script src="/static/js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,
				loop: true,
				controls: false,
				transitionSpeed: 'slow',
				transition: 'fade',
				progress: false,
				center: false,
				width: 1024,
				height: 768,
				autoSlide: 30000,
				shuffle: true,
				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
		
	</body>
</html>
