{% extends "base.html" %}

	{% block sections %}
	{% for e in events %}
		<section>
				<h2>{{e.name}}</h2>
				<h3>{{e.start_nice}}</h3>
				<p>{{e.desc}}</p>	
		</section>
	{% endfor %}
	{% endblock %}


{% block revealinit %}
	// More info https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		history: true,
		loop: true,
		controls: false,
		transitionSpeed: 'slow',
		transition: 'fade',
		progress: false,
		center: false,
		width: 1024,
		height: 768,
		autoSlide: 30000,
		// More info https://github.com/hakimel/reveal.js#dependencies
		dependencies: [
			{ src: '/static/plugin/markdown/marked.js' },
			{ src: '/static/plugin/markdown/markdown.js' },
			{ src: '/static/plugin/notes/notes.js', async: true },
			{ src: '/static/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
		]
	});
{% endblock %}