{% extends "base.html" %}

{% block sections %}
<section class="center">
			<h2>Newspeak House</h2>
			<p>{{members_count}} Members</p>
			<p>{{date}}</p>


	</section>

	
	<section>
	
			<h2>Upcoming Events</h2>
			{% for e in events %}
			<h3>{{e}}</h3>	
			{% endfor %}
	
	</section>

	
	{% if tweets %}
	<section>
	
			<h2>#nwspk Tweets</h2>
			{% for t in tweets %}
			<p>{{t}}</p>	
			{% endfor %}			
	
	</section>
	{% endif %}
	
	<section>
	
			<h2>Recent Members</h2>
			{% for m in members %}
			<h3>{{m}}</h3>	
			{% endfor %}			
	
	</section>	

	{% endblock %}